In [49]:
import json
import pandas as pd
import numpy as np

In [18]:
path='Talabeh'
post='.json'
with open(path+post, 'r') as f:
    datastore = json.load(f)

In [28]:
users=[]
for item in datastore:
    users.append(item)

In [29]:
len(users)

16703

In [25]:
keys=list(datastore['1124032931171852290'].keys())

In [37]:
mykeys=['screen_name',
        'is_retweet',
        'retweeted_from_id',
        'retweeted_from_sn',]

In [40]:
data=[[],[],[],[]]
for user_id in users:
    for it, k in enumerate(mykeys):
        try:
            data[it].append(datastore[user_id][k])
        except:
            data[it].append('NAN')

In [43]:
data=[users]+data

In [51]:
data=np.array(data)
data=data.T

In [52]:
df = pd.DataFrame(data, columns =['user_id']+mykeys)

In [53]:
df

,user_id,is_retweet,retweeted_from_sn,retweeted_from_id,screen_name
0,1124032931171852290,True,ZiaNabavi1,989801651333722112,daneshzade
1,1124031785510342662,False,NAN,NAN,AN8HBsJHf9SycyK
2,1124030541437767681,True,smvaziri,800735873134301184,amin_rt07
3,1124030210293288961,False,NAN,NAN,smvaziri
4,1124024118477828096,False,NAN,NAN,Mahdicomes
...,...,...,...,...,...
16698,1122082390086750208,False,NAN,NAN,qomnews
16699,1122075624099721216,True,yjcagency,799220534617800704,mobinfaradid
16700,1122074287748321280,False,NAN,NAN,yjcagency
16701,1122071846978035718,False,NAN,NAN,chandsanieh
16702,1122067906513256448,False,NAN,NAN,Tasnimnews_Fa

In [ ]:


with open("/tmp/sarcasm.json", 'r') as f:
    datastore = json.load(f)
path='Talabeh'
post='.json'
for i in range(8):
    with open("/tmp/sarcasm.json", 'r') as f:
    datastore += json.load(f)

sentences = [] 
labels = []
urls = []
for item in datastore:
    sentences.append(item['headline'])
    labels.append(item['is_sarcastic'])
    urls.append(item['article_link'])